# **
#  * OpenArabicConjugation
#  * Copyright (C) 2025-2026 Amir Czwink (amir130@hotmail.de)
#  * 
#  * This program is free software: you can redistribute it and/or modify
#  * it under the terms of the GNU Affero General Public License as published by
#  * the Free Software Foundation, either version 3 of the License, or
#  * (at your option) any later version.
#  * 
#  * This program is distributed in the hope that it will be useful,
#  * but WITHOUT ANY WARRANTY; without even the implied warranty of
#  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  * GNU Affero General Public License for more details.
#  * 
#  * You should have received a copy of the GNU Affero General Public License
#  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#  * *
name: Publish package

on:
  push:
    branches: [ "main", "pipeline" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    #build tests
    - run: |
        npm ci
        npm run compile
      working-directory: ./tests

    #run tests
    - run: npm run --silent run mocha-json 1>results.json 2>results-stderr.log
      working-directory: ./tests
      
    - name: Archive test results
      uses: actions/upload-artifact@v4
      with:
        name: test-result-report
        path: ./tests/results*

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Tests
        path: ./tests/results.json
        reporter: mocha-json

  publish:
    #needs: run-tests #TODO: as soon as they all run through one day :)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - name: Check package version vs registry
        id: version_check
        uses: dupy-ts/check-package-version@main
        with:
          path: ./conjugation_engine
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Echo versions
        run: |
            echo "Committed version: ${{ steps.version_check.outputs.committed-version }}"
            echo "Retrieved version: ${{ steps.version_check.outputs.retrieved-version }}"
            echo "Has been published: ${{ steps.version_check.outputs.is-published }}"

      - name: Publish package
        if: steps.version_check.outputs.is-new-version == 'true' || steps.version_check.outputs.is-published == 'false'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm ci
          npm run build
          npm publish
        working-directory: ./conjugation_engine