# **
#  * OpenArabicConjugation
#  * Copyright (C) 2025-2026 Amir Czwink (amir130@hotmail.de)
#  * 
#  * This program is free software: you can redistribute it and/or modify
#  * it under the terms of the GNU Affero General Public License as published by
#  * the Free Software Foundation, either version 3 of the License, or
#  * (at your option) any later version.
#  * 
#  * This program is distributed in the hope that it will be useful,
#  * but WITHOUT ANY WARRANTY; without even the implied warranty of
#  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  * GNU Affero General Public License for more details.
#  * 
#  * You should have received a copy of the GNU Affero General Public License
#  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#  * *
name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    #build conjugation_engine
    - run: npm link acts-util-core
      working-directory: ./conjugation_engine
    - run: npm install
      working-directory: ./conjugation_engine
    - run: npm run build
      working-directory: ./conjugation_engine
    - run: npm link
      working-directory: ./conjugation_engine

    #build tests
    - run: npm link acts-util-core acts-util-test openarabicconjugation
      working-directory: ./tests
    - run: npm install
      working-directory: ./tests
    - run: npm run compile
      working-directory: ./tests

    #run tests
    - run: npm run --silent run mocha-json 1>results.json 2>results-stderr.log
      working-directory: ./tests
      
    - name: Archive test results
      uses: actions/upload-artifact@v4
      with:
        name: test-result-report
        path: ./tests/results*

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Tests
        path: ./tests/results.json
        reporter: mocha-json
